.abc {
    background-color: grey;
    text-align: center;
    border-radius: 8px;
    font-size:30px ;
    padding: 40px 0;
}

.d {
    margin:40px auto;
    width:400px;
    padding:20px 60px;
    border:1px solid #ddd;
    background-color: #efefef;
}

.e {
    text-align:center;
    padding:20px 0;
}